<div class="panel panel-default">

    <div class="panel-heading">

        <h3 class="panel-title">
            <strong>Color Management</strong>
        </h3>

    </div>


    <div class="panel-body">


        <!-- ====================================================== -->
        <!-- ADD COLOR -->
        <!-- ====================================================== -->

        <div class="well">

            <h4>
                Add New Color
            </h4>

            <form
                class="form-inline"
                ng-submit="addColor()">

                <div class="form-group">

                    <input
                        type="text"
                        class="form-control"
                        ng-model="form.name"
                        placeholder="Color name">

                </div>

                <button
                    type="submit"
                    class="btn btn-success">

                    ➕ Add Color

                </button>

            </form>

        </div>


        <!-- ====================================================== -->
        <!-- SEARCH -->
        <!-- ====================================================== -->

        <div class="row">

            <div class="col-md-6">

                <label>
                    🔎 Search Colors
                </label>

                <input
                    type="text"
                    class="form-control"
                    ng-model="search"
                    ng-keyup="$event.keyCode == 13 && searchColors()"
                    placeholder="Search color...">

            </div>


            <div class="col-md-2">

                <label>
                    &nbsp;
                </label>

                <button
                    class="btn btn-primary form-control"
                    ng-click="searchColors()">

                    Search

                </button>

            </div>

        </div>


        <br>


        <!-- ====================================================== -->
        <!-- COLORS TABLE -->
        <!-- ====================================================== -->

        <div class="table-responsive">

            <table
                class="table table-bordered table-striped">

                <thead>

                    <tr>

                        <th>
                            ID
                        </th>

                        <th>
                            Color
                        </th>

                        <th>
                            Products
                        </th>

                        <th>
                            Action
                        </th>

                    </tr>

                </thead>


                <tbody>

                    <tr
                        ng-repeat="color in colors">

                        <td>
                            {{ color.id }}
                        </td>

                        <td>

                            <span class="label label-primary">

                                {{ color.name }}

                            </span>

                        </td>

                        <td>

                            {{ color.products_count }}

                        </td>

                        <td>

                            <button
                                class="btn btn-danger btn-xs"
                                ng-click="deleteColor(color.id)">

                                🗑 Delete

                            </button>

                        </td>

                    </tr>


                    <tr
                        ng-if="colors.length === 0">

                        <td
                            colspan="4"
                            class="text-center">

                            No colors found.

                        </td>

                    </tr>

                </tbody>

            </table>

        </div>

    </div>

</div>