<div class="text-center">

    <h1>
        Laravel + AngularJS + Select2
    </h1>

    <p class="lead">
        Many-to-Many Product & Color Management
    </p>

</div>


<div class="row">

    <div class="col-md-4">

        <div class="panel panel-primary">

            <div class="panel-heading">
                Select2 Multiple Selection
            </div>

            <div class="panel-body">

                Select multiple colors for every product
                using searchable Select2 dropdowns.

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="panel panel-success">

            <div class="panel-heading">
                Advanced Filtering
            </div>

            <div class="panel-body">

                Search products and filter them using
                multiple colors and price ranges.

            </div>

        </div>

    </div>


    <div class="col-md-4">

        <div class="panel panel-info">

            <div class="panel-heading">
                Analytics
            </div>

            <div class="panel-body">

                View product, color and
                Product–Color relationship statistics.

            </div>

        </div>

    </div>

</div>


<div class="text-center"
     style="margin-top:30px">

    <a href="#/products"
       class="btn btn-primary btn-lg">

        Open Product Management

    </a>

    <a href="#/colors"
       class="btn btn-default btn-lg">

        Manage Colors

    </a>

</div>